[Unit]
Description=Ansible Semaphore
After=syslog.service
Requires=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/default/semaphore
ExecStart=/bin/sh -c "/usr/bin/semaphore -config ${SEMAPHORE_CONFIG} >> ${SEMAPHORE_LOGS} 2>&1 &"
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
